:root {
  --std-max-width: none;
  --sidebar-width: 320px;
}

body {
  display: flex;
  margin: 0;
  padding: 0 1em;
  height: 100%;
}

main {
  flex: 1;
  margin-left: 0 !important;
  align-items: flex-start;
}

aside {
  min-width: var(--sidebar-width);
}

main > header {
  padding: 1em 0;
}

footer {
  text-align: center;
  align-self: center;
}

#sidebar-toggle {
  display: none;
}

@media (max-width: 640px) {
  #sidebar {
    display: none !important;
  }
}
