:root {
  --std-max-width: none;
  --sidebar-width: 320px;
}

body {
  display: flex;
  margin: 0;
  padding: 0 1em;
  height: 100%;
}

main {
  flex: 1;
  margin-left: 0 !important;
  align-items: flex-start;
}

aside {
  min-width: var(--sidebar-width);
}

aside ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

main > header {
  padding: 1em 0;
}

footer {
  width: 100%;
}

footer > div:last-child {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

footer > div:last-child > p:last-child > a:last-child {
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 12px;
}

.next-prev {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.next-prev > .next-page {
  flex: 1 0;
  text-align: right;
}

#sidebar-toggle {
  display: none;
}

@media (max-width: 640px) {
  #sidebar {
    display: none !important;
  }
}
